<!--Newsletter Area Start-->
<div class="newsletter-area">
  <div class="container">
    <div class="row">
      <div class="col-md-offset-3 col-lg-6 col-md-6  col-sm-12 col-xs-12">
        <div class="post-newsletter">
          <div class="title">
            <h4><span>{{ 'layout.footer.newsletter_title_1' | t }}</span></h4>
          </div>
          <p>{{ 'layout.footer.newsletter_description' | t }}</p>
          <div class="newsletter-form">
            {% include 'newsletter-form' %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--End of Newsletter Area-->