<!-- slider area start -->
<div class="slider-area ">
  <div class="slider-content">
    {% if setttings.show_collection_bg_image != false %}
    <img src="{{ 'collection_bg.jpg' | asset_url }}" alt="baner">
    {% endif %}
    <h1 class="cat-title text-center text-uppercase">{{ page_title }}</h1>
  </div>
</div>
<!-- slider area end-->